.SideDrawer {
  position: fixed;
  width: 200px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: white;
  padding: 32px 16px;
  transition: transform 0.3s ease-out;
}

@media (min-width: 500px) {
  .sideDrawer {
    display: none;
  }
}

.open {
  tansform: translateX(0);
}
.close {
  tansform: translateX(-100%);
}

.Logo {
  height: 11%;
}

/* .DrawerToggle {
    width: 40px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.DrawerToggle div {
    width: 90%;
    height: 3px;
    background-color: white;
}

@media (min-width: 500px) {
    .DrawerToggle {
        display: none;
    }
} */
